TwistedLogik.Nucleus/Schema/xml/Text/LocalizedString.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:include schemaLocation="LocalizedStringVariantCollection.xsd"/>
  
  <xs:complexType name="LocalizedString">
    <xs:annotation>
      <xs:documentation xml:lang="en">Represents a localized string.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="af-ZA" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="sq-AL" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-DZ" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-BH" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-EG" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-IQ" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-JO" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-KW" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-LB" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-LY" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-MA" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-OM" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-QA" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-SA" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-SY" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-TN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-AE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ar-YE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="hy-AM" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="Cy-az-AZ" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="Lt-az-AZ" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="eu-ES" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="be-BY" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="bg-BG" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ca-ES" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="zh-CN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="zh-HK" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="zh-MO" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="zh-SG" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="zh-TW" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="zh-CHS" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="zh-CHT" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="hr-HR" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="cs-CZ" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="da-DK" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="div-MV" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="nl-BE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="nl-NL" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-AU" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-BZ" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-CA" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-CB" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-IE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-JM" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-NZ" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-PH" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-ZA" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-TT" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-GB" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-US" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-ZW" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="et-EE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="fo-FO" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="fa-IR" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="fi-FI" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="fr-BE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="fr-CA" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="fr-FR" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="fr-LU" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="fr-MC" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="fr-CH" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="gl-ES" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ka-GE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="de-AT" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="de-DE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="de-LI" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="de-LU" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="de-CH" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="el-GR" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="gu-IN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="he-IL" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="hi-IN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="hu-HU" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="is-IS" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="id-ID" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="it-IT" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="it-CH" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ja-JP" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="kn-IN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="kk-KZ" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="kok-IN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ko-KR" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ky-KZ" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="lv-LV" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="lt-LT" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="mk-MK" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ms-BN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ms-MY" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="mr-IN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="mn-MN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="nb-NO" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="nn-NO" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="pl-PL" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="pt-BR" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="pt-PT" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="pa-IN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ro-RO" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ru-RU" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="sa-IN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="Cy-sr-SP" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="Lt-sr-SP" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="sk-SK" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="sl-SL" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-AR" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-BO" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-CL" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-CO" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-CR" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-DO" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-EC" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-SV" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-GT" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-HN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-MX" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-NI" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-PA" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-PY" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="es-PE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-PR" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-ES" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-UY" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="en-VE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="sw-KE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="sv-FI" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="sv-SE" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="syr-SY" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ta-IN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="tt-RU" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="te-IN" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="th-TH" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="tr-TR" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="uk-UA" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="ur-PK" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="Cy-uz-UZ" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="Lt-uz-UZ" type="LocalizedStringVariantCollection" minOccurs="0"/>
      <xs:element name="vi-VN" type="LocalizedStringVariantCollection" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="Key" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="en">The string's localization key.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Html" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="en">A value indicating whether the string contains HTML encoded characters.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Pseudo" type="xs:boolean" default="true">
      <xs:annotation>
        <xs:documentation xml:lang="en">A value indicating whether pseudolocalization is enabled for this string.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  
</xs:schema>
