TwistedLogik.Nucleus/Schema/xml/Text/LocalizedStringVariant.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">

  <xs:complexType name="LocalizedStringVariant">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Group" type="xs:string"/>
        <xs:attribute name="Properties" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
</xs:schema>
